@font-face {
    font-family: DINNextLTArabic;
    src: url('../fonts/DINNextLTArabic.ttf');
}

body {
    font-family: 'DINNextLTArabic', sans-serif !important;
}


.trending-news {
    padding-bottom: 1.5rem;
}
.trending-news .trending-news-inner {
    position: relative;
}

.trending-news .trending-news-inner .title {
    float: right;
    padding: 10px 15px;
    background: -ms-linear-gradient(285deg, var(--bs-success) 27%, #da1752 100%, #fff 100%);
    background: linear-gradient(285deg, var(--bs-success)  27%, var(--bs-success)  100%, #fff 100%);
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
}
@media screen and (min-width: 320px) and (max-width: 575px) {
    .trending-news .trending-news-inner .title strong {
        display: none;
    }
}
.trending-news .trending-news-inner .trending-news-slider .item-single {
    height: auto;
    vertical-align: middle;
    display: table-cell;
    overflow: hidden;
    line-height: 20px;
    text-align: right;
}
.trending-news .trending-news-inner .trending-news-slider .item-single a {
    color: #000;
    font-weight: 600;
    line-height: 34px;
    padding: 2px 20px;
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
}
@media screen and (min-width: 320px) and (max-width: 575px) {
    .trending-news .trending-news-inner .trending-news-slider .item-single a {
        font-size: 12px;
        font-weight: 600;
        line-height: 1.4;
        padding: 4px 7px;
    }
}
.trending-news .trending-news-inner .trending-news-slider .item-single a:hover {
    color: var(--bs-warning);
}
.trending-news .trending-news-inner .trending-news-slider .slick-arrow {
    position: absolute;
}
.trending-news .trending-news-inner .trending-news-slider .slick-next,
.trending-news .trending-news-inner .trending-news-slider .slick-prev {
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #eee;
    background: #fff;
    overflow: hidden;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.trending-news .trending-news-inner .trending-news-slider .slick-next::before,
.trending-news .trending-news-inner .trending-news-slider .slick-prev::before {
    font-size: 14px;
}
.trending-news .trending-news-inner .trending-news-slider .slick-next:hover,
.trending-news .trending-news-inner .trending-news-slider .slick-prev:hover {
    background: #f7f7f7;
}
.trending-news .trending-news-inner .trending-news-slider .slick-prev {
    right: auto;
    left: 29px;
    bottom: 0;
}
.trending-news .trending-news-inner .trending-news-slider .slick-next {
    left: 0;
}